#main {
	margin-left: 10px;
	margin-right: 10px;
}

#main h1 {
	text-align: center;
}

#fix-packs {
	float: left;
	list-style: none;
	width: 20%;
}

#fix-packs li {
	cursor: pointer;
	padding: 2px;
}

#release-notes {
	float: right;
	width: 80%
}

#release-notes table {
	border: solid 1px;
	border-collapse: collapse;
	border-color: gray;
	margin-bottom: 10px;
	width: 100%
}

#release-notes tr:first-child {
	background: #ddd;
}

#release-notes td {
	padding: 5px;
	text-align: left;
}
